{% extends "layout.html" %} {% block page_title %} Check eligibility, cost and time {% endblock %} {% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Check eligibility, cost and time
        </h1>

        <p>
          You may want to let users check first eligibility, cost and time for using your service. 
        </p>

        <p><a href="examples/check-eligibility-cost-time/introduction">Prototype example</a></p>

        <p>
          You can see the code for this example here:
        </p>

        <div class="code">
          /app/routes.js
          /app/views
        </div>

        <br>

        <p><a href="#">Blogpost about pattern</a></p>
        <p><a href="#">Download code</a></p>

        <p>Pages:</p>

        <ul class="list list-bullet">
          <li>
            <a href="/examples/check-eligibility-cost-time/introduction">
              Task introduction page
            </a>
          </li>
          <li>
            <a href="/examples/check-eligibility-cost-time/result/ineligible">
              Questions
            </a>
          </li>
          <li>
            <a href="/examples/check-eligibility-cost-time/result/eligible">
              Eligible page
            </a>
          </li>
          <li>
            <a href="/examples/check-eligibility-cost-time/result/ineligible">
              Ineligible page
            </a>
          </li>
          <li>
            <a href="/examples/check-eligibility-cost-time/result/cost">
              Cost page
            </a>
          </li>
          <li>
            <a href="/examples/check-eligibility-cost-time/result/time">
              Time page
            </a>
          </li>
        </ul>

    </div>
  </div>

</main>
{% endblock %}