{% extends "layout.html" %} {% block page_title %} Check before you start {% endblock %} {% block content %}
<main id="content" role="main">

  {% include "includes/prototype_banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

            <form method="get" action="#" class="form">

            {{formData | safe}}


            <br>
            <br>

              <p class="lede">Waiting time after applying:</p>

              <div class="data">
                <!-- 20-25 -->
                <h2 class="bold-xxlarge">9 weeks</h2>
              </div>

            <input type="hidden" name="check_before_you_start" value="completed">

            <br>

            <div class="form-group">
              <input type="submit" class="button" value="Continue"/>
            </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
