{% extends "layout.html" %} {% block page_title %} Check eligibility, cost and time {% endblock %} {% block content %}
<main id="content" role="main">

  {% include "includes/prototype_banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Check before start
        </h1>

        <p>
          Design pattern how to have users check they can or should use a service.
        </p>

        <p><a href="/example/introduction">Example</a></p>
        <p><a href="https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/16P131ZwQGJgpmFxlHOCDw799aOBySNZbr1lOwjXY-fc/edit?usp=sharing">Blogpost about pattern</a></p>

        <p>Pages used in example:</p>

        <ul class="list list-bullet">
          <li>
            <a href="/pages/introduction">
              Introduction page
            </a>
          </li>
          <li>
            <a href="/pages/questions/over-18">
              Question pages
            </a>
          </li>
           <li>
            <a href="/pages/ineligible">
              Ineligible page
            </a>
          </li>
          <li>
            <a href="/pages/eligible">
              Eligible page
            </a>
          </li>
          <li>
            <a href="/pages/cost">
              Cost page
            </a>
          </li>
          <li>
            <a href="/pages/time">
              Time page
            </a>
          </li>
        </ul>

    </div>
  </div>

</main>
{% endblock %}


