{% extends "layout.html" %} {% block page_title %} Check eligibility, cost and time {% endblock %} {% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Check eligibility, cost and time
        </h1>

        <p>
          Design pattern for users to check first eligibility, cost and time for using a service. 
        </p>

        <p><a href="/example/introduction">Prototyped example</a></p>
        <p><a href="#">Blogpost about pattern</a></p>
        <p><a href="https://github.com/HarryTrimble/check-eligibility-cost-time">Download code</a></p>

        <p>Pages:</p>

        <ul class="list list-bullet">
          <li>
            <a href="/pages/introduction">
              Introduction page
            </a>
          </li>
          <li>
            <a href="/pages/questions/over-18">
              Question pages
            </a>
          </li>
           <li>
            <a href="/pages/ineligible">
              Ineligible page
            </a>
          </li>
          <li>
            <a href="/pages/eligible">
              Eligible page
            </a>
          </li>
          <li>
            <a href="/pages/cost">
              Cost page
            </a>
          </li>
          <li>
            <a href="/pages/time">
              Time page
            </a>
          </li>
        </ul>

    </div>
  </div>

</main>
{% endblock %}


